source/environnementTravail/watchdtdict-emission/XSD_3_0_20181120/XSD/schemaTeleservice_pad_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- version 20112018 -->
<xs:schema xmlns:ie="http://xml.insee.fr/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" 	xmlns:t="http://www.reseaux-et-canalisations.gouv.fr/schema-teleservice/3.0" 	attributeFormDefault="unqualified" 	elementFormDefault="qualified" 	targetNamespace="http://www.reseaux-et-canalisations.gouv.fr/schema-teleservice/3.0" 	version="3.0">
	<xs:import namespace="http://xml.insee.fr/schema"	schemaLocation="http://xml.insee.fr/schema/insee.xsd" />
	<xs:include schemaLocation="schemaTeleservice_core_3_0.xsd"/>
	<!-- Element racine -->
	<xs:element name="dossierConsultation">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element name="DT" type="t:informationsDT" />
					<xs:element name="DICT" type="t:informationsDICT" />
					<xs:element name="dtDictConjointes" type="t:informationsDtDictConjointes" />
					<xs:element name="ATU" type="t:informationsATU" />
				</xs:choice>
				<xs:element name="listeDesOuvrages" type="t:ouvrages" />
				<xs:element name="listeDesREADE" type="t:reades" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="informationsDT_Pad">
		<xs:sequence>
			<xs:choice>
				<xs:element name="noConsultationDuTeleserviceSeize" type="t:numDossierSeize">
					<xs:annotation>
						<xs:documentation>Numéro de consultation du dossier sur 16	caractères</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
					<xs:annotation>
						<xs:documentation>Numéro de consultation du dossier sur 14	caractères</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date de création du dossier de consultation</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="informationsDT">
		<xs:complexContent>
			<xs:extension base="t:informationsDTCore">
				<xs:sequence>
					<xs:choice>
						<xs:element name="noConsultationDuTeleserviceSeize" type="t:numDossierSeize">
							<xs:annotation>
								<xs:documentation>Numéro de consultation du dossier sur 16	caractères</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
							<xs:annotation>
								<xs:documentation>Numéro de consultation du dossier sur 14	caractères</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de création du dossier de consultation</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="informationsDICT">
		<xs:complexContent>
			<xs:extension base="t:informationsDICTCore">
				<xs:sequence>
					<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
						<xs:annotation>
							<xs:documentation>Numéro de consultation du dossier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de la déclaration</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DtLiee" type="t:informationsDTsimplifiee"	minOccurs="0" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="informationsPartieDICT">
		<xs:complexContent>
			<xs:extension base="t:informationsDICTCore">
				<xs:sequence>
					<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
						<xs:annotation>
							<xs:documentation>Numéro de consultation du dossier</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de la déclaration</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="informationsDtDictConjointes">
		<xs:complexContent>
			<xs:extension base="t:informationsDtDictConjointesCore">
				<xs:sequence>
					<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
						<xs:annotation>
							<xs:documentation>Numéro de consultation du dossier de la DICT</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de création de la consultation</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="partieDT">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="t:informationsDTBase">
									<xs:sequence>
										<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
											<xs:annotation>
												<xs:documentation>Numéro de consultation du dossier sur 14	caractères</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="dateDeLaDeclaration" type="xs:dateTime">
											<xs:annotation>
												<xs:documentation>Date de création du dossier de consultation</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="signatureDuResponsableDuProjetOuDeSonRepresentant"	type="t:signatureDuResponsableDuProjet"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="partieDICT" type="t:informationsPartieDICT" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="informationsATU">
		<xs:complexContent>
			<xs:extension base="t:informationsATUCore">
				<xs:sequence>
					<xs:element name="noConsultationDuTeleservice" type="t:numDossier">
						<xs:annotation>
							<xs:documentation>Numéro de consultation </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="date" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>Date de consultation</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="categorieOuvrage">
		<xs:annotation>
			<xs:documentation>Code précisant la catégorie d'un ouvrage (Sensible,	Non-Sensible ou	Non-Sensible Forcé Sensible)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="S">
				<xs:annotation>
					<xs:documentation>L'ouvrage est catégorisé comme sensible</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NS">
				<xs:annotation>
					<xs:documentation>L'ouvrage est catégorisé comme non-sensible</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NSFS">
				<xs:annotation>
					<xs:documentation>L'ouvrage est catégorisé comme non-sensible mais	a été forcé en sensible par l'exploitant</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="classeOuvrage">
		<xs:annotation>
			<xs:documentation>Code identifiant la classe d'un ouvrage</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CANALISATIONS_HYDROCARBURES_LIQUIDES" />
			<xs:enumeration value="CANALISATIONS_PRODUITS_CHIMIQUES_LIQUIDES_OU_GAZEUX" />
			<xs:enumeration value="CANALISATIONS_GAZ_COMBUSTIBLES" />
			<xs:enumeration value="RESEAUX_DE_CHALEUR_OU_DE_FROID" />
			<xs:enumeration value="LIGNES_ELECTRIQUES_ET_ECLAIRAGE_PUBLIC_HORS_TBT" />
			<xs:enumeration value="INSTALLATIONS_DE_TRANSPORT_GUIDE" />
			<xs:enumeration value="CANALISATIONS_DE_TRANSPORT_DE_DECHETS" />
			<xs:enumeration value="DIGUES_PREVENTION_INONDATIONS_SUBMERSIONS" />
			<xs:enumeration	value="COMMUNICATIONS_ELECTRONIQUES_ET_LIGNES_ELECTRIQUES_ECLAIRAGE_TBT" />
			<xs:enumeration value="CANALISATIONS_EAU_POTABLE" />
			<xs:enumeration value="CANALISATIONS_EAUX_USEES_OU_ASSAINISSEMENT" />
			<xs:enumeration value="AUTRE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="positionnementOuvrage">
		<xs:annotation>
			<xs:documentation>Code de positionnement de l'ouvrage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AERIEN" />
			<xs:enumeration value="SOUTERRAIN" />
			<xs:enumeration value="AERIEN_ET_SOUTERRAIN" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statutOuvrage">
		<xs:annotation>
			<xs:documentation>Liste des statuts de l'ouvrage.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTIF" />
			<xs:enumeration value="INACTIF" />
			<xs:enumeration value="ABANDONNE" />
			<xs:enumeration value="SUPPRIME" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="contact">
		<xs:annotation>
			<xs:documentation>Fiche contact de l'exploitant de réseau</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- Personne -->
			<xs:element name="code" type="xs:string"/>
			<xs:element name="nom" type="ie:NomDeFamilleSeulType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informations nominatives sur la personne	reponsable pour l'exploitant de réseau</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="prenom"	type="ie:PrenomsOfficielsSeulsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informations nominatives sur la personne	reponsable pour l'exploitant de réseau</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Organisation -->
			<xs:element name="societe" type="xs:string">
				<xs:annotation>
					<xs:documentation>Société</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="agence" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Agence</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="complement" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Complément d'adresse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Adresse postale -->
			<xs:element name="numero" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Numero de la voie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voie" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>nom de la voie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="lieuDitBP" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lieu Dit / BP</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="codePostal" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code Postal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="commune" type="xs:string">
				<xs:annotation>
					<xs:documentation>Personne à contacter</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Pays -->
			<xs:element name="codePays" type="ie:CodePaysIsoType"	minOccurs="0" />
			<!-- Informations de contact -->
			<xs:choice>
				<xs:element name="faxObligatoire" type="t:faxObligatoire" />
				<xs:element name="mailObligatoire" type="t:mailObligatoire" />
			</xs:choice>
			<xs:element name="telephone" type="xs:string">
				<xs:annotation>
					<xs:documentation>Téléphone du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telephoneUrgence" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Téléphone urgence du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="faxUrgence" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Fax urgence du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="mailUrgence" type="t:adresseMail"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Courriel d'urgence du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="telEndommagement" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Téléphone endommagement du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceInterne" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Référence interne du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="site" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Site web du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="gestionDesFichiersDematerialises"	type="t:gestionDesFichiersDematerialises" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Gestion des fichiers dématérialisés</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="faxObligatoire">
		<xs:sequence>
			<xs:element name="fax" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fax du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="courriel" type="t:adresseMail" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Courriel du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="mailObligatoire">
		<xs:sequence>
			<xs:element name="fax" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fax du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="courriel" type="t:adresseMail" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Courriel du contact</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zone">
		<xs:annotation>
			<xs:documentation>Fiche zone de l'exploitant de réseau</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="consigne" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informations sur la zone pour l'exploitant de réseau</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="contact" type="t:contact"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="zones">
		<xs:sequence>
			<xs:annotation>
				<xs:documentation>Liste des zones de l'exploitant de réseau</xs:documentation>
			</xs:annotation>
			<xs:element name="zone" type="t:zone" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ouvrage">
		<xs:sequence>
			<!-- <xs:element name="listeDesContacts" type="t:contacts"> -->
			<!-- <xs:annotation> -->
			<!-- <xs:documentation>Liste des contacts de l'exploitant de réseau -->
			<!-- </xs:documentation> -->
			<!-- </xs:annotation> -->
			<!-- </xs:element> -->
			<xs:element name="listeDesZones" type="t:zones">
				<xs:annotation>
					<xs:documentation>Liste des zones de l'exploitant de réseau</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="pourLesReseauxSensiblesPourLaSecuriteUniquement"	type="t:pourLesReseauxSensiblesATU" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information à préciser (sur les réseaux sensibles	pour la sécurité uniquement)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- ouvrage -->
			<xs:element name="categorieOuvrage" type="t:categorieOuvrage">
				<xs:annotation>
					<xs:documentation>Catégorie de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="classeOuvrage" type="t:classeOuvrage">
				<xs:annotation>
					<xs:documentation>Classe de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="positionnementOuvrage" type="t:positionnementOuvrage"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Positionnement de l'ouvrage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Code de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="denominationOuvrage" type="xs:string"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dénomination de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="statut" type="t:statutOuvrage">
				<xs:annotation>
					<xs:documentation>Statut de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateCreation" type="xs:date">
				<xs:annotation>
					<xs:documentation>Date de création de l'ouvrage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Informations supplémentaires -->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType	name="pourLesReseauxSensiblesPourLaSecuriteReponseAttendueOuNonAttendue">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="pasDeReponseAFournirChantierTermine"	type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Avis informatif. "Vrai" si "pas de réponse à	fournir, chantier terminé".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="reponseAttendueChantierAVenir" type="xs:boolean">
				<xs:annotation>
					<xs:documentation> Demande d'information. "Vrai" si "réponse	attendue, chantier à venir".</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="pourLesReseauxSensiblesATU">
		<xs:annotation>
			<xs:documentation>Pour les réseaux sensibles de l'ATU</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="chantierTermineOuChantierAVenir"	type="t:pourLesReseauxSensiblesPourLaSecuriteReponseAttendueOuNonAttendue"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Information à préciser par le déclarant</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nomDuRepresentantDeLExploitantContacte"	type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Nom du représentant de l'exploitant contacté</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateDuContactTelephonique" type="xs:date"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date du contact téléphonique</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="heureDuContactTelephonique" type="xs:time"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Heure du contact téléphonique</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="formatDesFichiersDematerialises">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML" />
			<xs:enumeration value="XML_PDF" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="gestionDesFichiersDematerialises">
		<xs:annotation>
			<xs:documentation>Préciser si l'exploitant peut traiter les	déclarations dématérialisées</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="gereLesFichiersDematerialises" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Cocher si l'exploitant du réseau gère les	fichiers dématérialisées</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="formatDesFichiersDematerialises" type="t:formatDesFichiersDematerialises"	minOccurs="0">
				<xs:annotation>
					<xs:documentation>Si l'exploitant gère les fichiers dématérialisé,	quel(s) format(s) il souhaite recevoir (XML seul OU les deux	formats, XML et PDF)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ouvrages">
		<xs:annotation>
			<xs:documentation>Liste des ouvrages du dossier</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ouvrage" minOccurs="0" maxOccurs="unbounded"	type="t:ouvrage" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reades">
		<xs:sequence>
			<xs:element name="reade" type="t:reade" maxOccurs="unbounded"	minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reade">
		<xs:sequence>
			<xs:element name="classe" type="t:classeOuvrage"/>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="dateCreation" type="xs:dateTime"/>
			<xs:element name="denomination" type="xs:string" minOccurs="0"/>
			<xs:element name="diametre" type="xs:int" minOccurs="0"/>
			<xs:element name="renseignements" type="xs:string" minOccurs="0"/>
			<xs:element name="raisonSociale" type="xs:string"/>
			<xs:element name="dernierExploitant" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="listeNumerosConsultation">
		<xs:annotation>
			<xs:documentation>Liste des numéros de consultation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numeroConsultation" type="t:numeroConsultation"	maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="numeroConsultation">
		<xs:annotation>
			<xs:documentation>Numéro de consultation</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="numero-dossier" type="xs:string"/>
			<xs:element name="nature" type="t:typeDeclaration"/>
			<xs:element name="emprise" type="t:emprise"/>
			<xs:element name="listeDesCommunes" type="t:emplacement" maxOccurs="unbounded"/>
			<xs:element name="heureDebutDesTravaux" type="xs:time" minOccurs="0"/>
			<xs:element name="dateDebutDesTravaux" type="xs:date"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="listeMoisStatistiques">
		<xs:annotation>
			<xs:documentation>Liste Statistiques par mois</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="moisStatistiques" minOccurs="0"	maxOccurs="unbounded" type="t:moisStatistiques" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="moisStatistiques">
		<xs:annotation>
			<xs:documentation>Statistiques par mois</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="mois" type="xs:string" maxOccurs="1" minOccurs="1"/>
			<xs:element name="listeCommunesStatistiques" minOccurs="0"	maxOccurs="unbounded" type="t:communeStatistiques" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="communeStatistiques">
		<xs:annotation>
			<xs:documentation>Statistiques par commune</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="commune" type="xs:string" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Code Insee de la commune</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nombreConsultations" type="xs:int" maxOccurs="1" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de consultation par mois par commune</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>